@charset "utf-8";
/* CSS Document */
.body-container {
	width:100%;
	height:2000px;
	background-color: aqua;
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.3fr 1.5fr 0.3fr 1.4fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 2.5fr 0.3fr 1.9fr 0.3fr 2.4fr 1fr 0.3fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas:
    ". Nav Nav Nav Nav Nav ."
    ". . . . . . ."
    ". iA . iB . iC ."
    ". . . . . . ."
    ". iD . iE . iF ."
    ". . . . . . ."
    ". iG . iH . iI ."
    ". . . . . . ."
    "Footer Footer Footer Footer Footer Footer Footer"
    ". . . . . . .";
}
.Nav { grid-area: Nav; }
.iA { 
	grid-area: iA;
	

}
.iB { 
	grid-area: iB;
	


}
.iC { 
	grid-area: iC;



}
.iD {
	grid-area: iD;
	


}
.iE { 
	grid-area: iE;
	


}
.iF { 
	grid-area: iF;
	

	
}
.iG { 
	grid-area: iG;
	


}
.iH { 
	grid-area: iH;
	


}
.iI { 
	grid-area: iI;
	


}
.Footer { 
	grid-area: Footer;
	background-color: lightslategrey;
	text-align: center;
	padding: 25px;

}
body { background-color: aqua}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}
	li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
font-size: 25px;
	text-shadow: 2px 2px black;
}